<a (click)="changeRoute()" id="clickMe" class="button w-button">Login</a>
<div></div>
<header id="hero" class="hero wf-section">
  <div class="flex-container w-container">
    <div>
      <h1 class="heading">KawaK</h1>
      <h3 class="paragraph">Real Feedback - Write Better</h3>
    </div>
    <div class="hero-image-mask"><img src="../../../assets/images/logo.png" alt="" class="hero-image"></div>
  </div>
</header>
<section id="subscribe-form" class="subscribe-form wf-section">
  <div class="centered-container w-container">
    <h2>Subscribe form</h2>
    <p>Stay tuned for latest updates and <strong>rewards!</strong></p>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="subscribe-form-flex">
        <div class="subscribe-form-input-wrapper"><label for="Subscriber-Email" id="subscribe-email">Email</label><input type="email" class="subscribe-form-input w-input" maxlength="256" name="Subscriber-Email" data-name="Subscriber Email" id="Subscriber-Email" required=""></div><input type="submit" value="Subscribe" data-wait="Please wait..." class="w-button">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</section>
<footer id="footer" class="footer-2 wf-section">
  <div class="w-container">
    <div class="footer-flex-container">
      <a href="#" class="footer-logo-link"><img src="../../../assets/images/logo.png" alt="" class="footer-image"></a>
      <div>
        <h2 class="footer-heading">Kawak</h2>
        <ul role="list" class="w-list-unstyled">
          <li>
            <a href="#" class="footer-link">Team</a>
          </li>
          <li>
            <a href="#" class="footer-link">Roadmap</a>
          </li>
          <li>
            <a href="#" class="footer-link">Policy</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1UHOQZpykPpqAzvdlLHuMbNNbC95ssc0wE-8G5JQtLu0/edit?usp=sharing" class="footer-link">Lite Paper</a>
          </li>
          <li>
            <a href="https://dfinity.org/" class="footer-link">Internet Computer</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="footer-heading">Lets Start</h2>
        <ul role="list" class="w-list-unstyled">
          <li>
            <a href="https://www.youtube.com/watch?v=NZux42AiEP4&ab_channel=LowFreeKey" class="footer-link">Tutorial</a>
          </li>
          <li>
            <a href="#" class="footer-link">Writing Guides</a>
          </li>
        </ul>
      </div>
      <div></div>
    </div>
    <div>Copyright © 2021 Kawak All rights reserved.</div>
  </div>
</footer>
