.textarea{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#word-count .ng-valid, 
#topic .ng-valid, 
#review-times .ng-valid,
#title_field .ng-valid, 
#field .ng-valid, 
#token .ng-valid {  
    background-color: green; 
}

#word-count .ng-invalid, 
#topic .ng-invalid, 
#review-times .ng-invalid,
#title_field .ng-invalid, 
#field .ng-invalid, 
#token .ng-invalid { 
    background-color: red; 
}

