#wordcount .ng-valid .ng-untouched .ng-pristine{
    color: green;
}
#wordcount .ng-invalid .ng-touched .ng-dirty{
    color: red;
}



#topic .ng-valid .ng-untouched .ng-pristine{
    
}
#reviewtimes{
    
}
#token{
    
}


#essay .ng-valid .ng-untouched .ng-pristine{
    background-color: green !important;
}
#essay .ng-invalid .ng-touched .ng-dirty{
    background-color: red !important;
}



#wordcount{
    
}