<app-header></app-header>
<app-body>
  <form action=""  (ngSubmit)="Submit(essayForm)" #essayForm="ngForm">
    <div container="wrapper">
        <textarea placeholder="2000 SOCIAL THEORY" class="heading"  name="title_field"  #title_field="ngModel" [(ngModel)]="EssayObj.title" ></textarea>
        <quill-editor maxlength="5000" class="body"  name="field" #field="ngModel" [(ngModel)]="EssayObj.text" data-name="Field"  format="object"
        [modules]="{ counter: { container: '#mat-quill-counter', unit: 'word' } }"></quill-editor>
    </div>
    <div class="tool-bar">
      <div class="nav">
          <div class="tool-bar-nav"></div>
          <div class="tool-bar-nav"></div>
          <div class="tool-bar-nav"></div>
      </div>
      <div class="tool-bar-body">
          <div class="tool-bar-form">
              <label for="wordcount">Word Count</label>
              <input name="wordcount" #wordcount="ngModel" [(ngModel)]="EssayObj.wordCount" type="number" class="formFields" >
              
              <label for="topic"> Topic </label>
              <input name="topic"  name="topic" #topic="ngModel" data-name="Topic" [(ngModel)]="EssayObj.topic" placeholder="Philosophy, Law, Art, ..." type="text" class="formFields">
              
              <label for="review-time"> Review time </label>
              <input name="review-time" name="reviewtimes" #reviewtimes="ngModel" [(ngModel)]="EssayObj.reviewTimes" data-name="Reviewtimes" placeholder="times reviewed by " type="number" class="formFields">
  
                
              <label for="token"> Token </label>
              <input name="token" #token="ngModel" [(ngModel)]="EssayObj.tokenToPay" type="number" class="formFields">
  
              <input type="submit" class="submit" >
          </div>
  
      </div>
    </div>
  </form>
</app-body>

