.editor-area{
    display: block;
    word-break: break-all;
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
}
#submit{
    position: relative;
    z-index: 14;
    margin-top: 40px ;
    display: block !important;
    background-color: #ff9115;
    border-radius: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 250px;
    height:5vh;
    width:50vw;
}
