
  <div class="form-block w-form ">
    <form id="email-form" class="container" name="email-form" data-name="Email Form">
      <label for="name" class="label">One more step champ!, Enter your unique username</label>
      <input type="text" class="w-input" maxlength="256" name="userName"  [(ngModel)]="userEntry.userName" data-name="Name" placeholder="type in a username" id="input_createProfile">
      <a (click)="changeRoute()" class="link-block-4 w-inline-block"><input type="submit" value="Submit" data-wait="" id="btn_createProfile" class="submit-button w-button"></a>
    </form>
  </div>
