<div id="header" data-animation="default" data-collapse="all" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="header w-nav">
    <div class="nav_points">
      <div id="header_profileName" class="nav_point text_pre">back</div>
    </div>
    <a id="profile_back" href="#" class="link-block-2 w-inline-block">
      <div id="profile_picture" class="profile"></div>
    </a>
  </div>
  <div class="section-3 wf-section">
    <div class="myprofile_circle"></div>
    <div class="body_div w-container">
      <div class="div-block-12">UserName<br>‍</div>
      <div class="allessays">Here are all my Essays</div>
      <div class="allreviews">Here are all my reviews</div>
      <div class="tokenview text_body">Here are all my Tokens</div>
    </div>
  </div>